<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>{{meta_title}}</title>

    <link rel="stylesheet" href="/assets/css/style.css">

    <meta name="description" content="{{meta_description}}" />

    {{ghost_head}}
</head>
<body class="{{body_class}}">
    <header class="header">
        <div class="logo"{{#if @blog.cover}} style="background-image: url({{@blog.cover}});"{{/if}}>
            <h1><a href="{{@blog.url}}">{{@blog.title}}</a></h1>

            <div class="blog-description">
                <div class="through-line">
                    <a href="https://twitter.com/philipobenito"><i class="fa fa-twitter-square fa-2x"></i></a>&nbsp;
                    <a href="https://github.com/happyaccidents"><i class="fa fa-github-square fa-2x"></i></a>&nbsp;
                    <a href="http://www.linkedin.com/profile/view?id=237947739"><i class="fa fa-linkedin-square fa-2x"></i></a>&nbsp;
                    <a href="https://plus.google.com/u/0/111055449226917209804"><i class="fa fa-google-plus-square fa-2x"></i></a>
                </div>
            </div>
        </div>
    </header>

    <div class="content">
        {{{body}}}
    </div>

    <script src="/assets/js/prism.js"></script>
    <script type="text/javascript">
    var _gaq = _gaq || [];

    _gaq.push(['_setAccount', 'UA-38450616-1']);
    _gaq.push(['_trackPageview']);

    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
    {{ghost_foot}}
</body>
</html>
