{{!< default}}

<header>
    {{> header}}

{{#post}}
    <h1 class="title">{{{title}}}</h1>
    <section class="meta">
        <i class="fa fa-clock-o"></i> &nbsp; <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time> &nbsp; <i class="fa fa-comments"></i> &nbsp; <a href="{{url}}#disqus_thread" class="comment_link">COMMENTS</a><br>
        <i class="fa fa-tag"></i> &nbsp; {{#tags}}{{#if @last}}{{tag}}, &nbsp; {{else}}{{tag}}{{/if}}{{/tags}}
    </section>
</header>

<section class="content language-php">
    {{> article}}
</section>

{{/post}}
